[Unit]
Description=Ubo Clear LCD and LED ring
Before=shutdown.target
# reboot.target halt.target
#Before=final.target
#Before=umount.target
#After=final.target

[Service]
User=$UBO_USER
#Environment=PYTHONPATH=$UBO_VENV_PATH/lib/python3.11/site-packages/
ExecStart=/bin/true  
ExecStop=$UBO_VENV_PATH/bin/python3 $UBO_SDK_PATH/device/clear_ui.py > $UBO_SDK_PATH/device/clear-ui-stop.log 2>&1
Type=oneshot
RemainAfterExit=yes
#RuntimeDirectory=ubo/
WorkingDirectory=$UBO_SDK_PATH
RuntimeDirectoryMode=0755

[Install]
#WantedBy=reboot.target halt.target poweroff.target
#WantedBy=final.target
WantedBy=multi-user.target
