[Unit]
Description=Ubo Safe Power off Service
#Before=hardware-test.service

[Service]
User=pi
Environment=PYTHONPATH=/home/pi/ubo-venv/lib/python3.9/site-packages/
ExecStart=/home/pi/ubo-venv/bin/python3 /home/pi/ubo-sdk/device/safe_reboot_shutdown.py
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=ubo/
WorkingDirectory=/home/pi/ubo-sdk/
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
